XMLValidator.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.victor.com"
           xmlns="https://www.victor.com"
           elementFormDefault="qualified">

    <xs:element name="AllData" type="AllData"/>

    <xs:complexType name="AllData">
        <xs:sequence>
            <xs:element name="Data" type="Data" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Data">
        <xs:sequence>
            <xs:element name="Date" type="xs:integer"/>
            <xs:element name="Value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
